/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #101820FF;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(248, 247, 245);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(248, 247, 245);
}